.Beat {
  width: 12px;
  height: 12px;
  background: #646464;
  background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  border-radius: 50%;
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}

.Beat--current-beat {
  background: #646464;
  background-image: radial-gradient(top, #DD8836 0%, #DD8836 20%, #CA7B32 60%);
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}
