.Beat {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 7px;

  background: #646464;
  background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  box-shadow: 0 0 4px #1C1C17;

  transition: all 0.1s ease;
}

.Beat--current {
  box-shadow: 0 0 8px #dd8836;
  background-image: radial-gradient(top, #DD8836 0%, #DD8836 20%, #CA7B32 60%);
}
