.App {
  background-color: #282828;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 388px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 40px 0;
}

.App__main {
  height: 500px;
}

.App__tabs {
  display: flex;
  justify-content: space-evenly;
}
