body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #C6C6C6;
}

html, #root, #subRoot{
  width: 100%;
  height: 100%;
}

#subRoot{
  margin: 0!important;
}

.app{
  background-color: #282828;
  height: 100%;
}

.buttonCircle{
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 100%;
  height: 10rem;
  margin-top: 4rem;
}

.buttonCircleBeat{
  box-shadow: 0px 0px 15px 10px rgba(221,136,54,.5);
}

.center{
  margin-top: 2rem;
}

.beat{
  width: 12px;
  height: 12px;
  background: #646464;
  background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
  border-radius: 50%;
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}

.current{
  background: #646464;
  background-image: radial-gradient(top, #DD8836 0%, #DD8836 20%, #CA7B32 60%);
  box-shadow: 0 0 4px #1C1C17;
  transition: all .3s ease;
}

.line {
  margin-bottom: 3rem;
}

.inputRange{
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #DB873B;
  cursor: pointer;
}

.inputRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #DB873B;
  cursor: pointer;
}

.subTitleRange{
  color: white;
  font-size: 1.5rem;
}

.titleRange{
  color: white;
  font-size: 2.5rem;
}

@media (max-width: 766px){
  .beatCol{
    width: auto!important;
    padding-right: 0!important;
   }
   .buttonCircle{
     width: 50%!important;
     margin-left: 25%;
   }
}
